/***************************************** Header ******************************************/
.titleContent {
  color: black;
}


/***************************************** Index ******************************************/
.fab {
  font-size: 2em;
  color: black;
}

.fas {
  font-size: 2em;
  color: black;
  margin-left: 1%;
}

/***************************************** PAGE TWO ******************************************/
h3 {
  text-decoration: none;
  color: gold;
}

.backToHomeDiv {
  background-color: rebeccapurple;
  height: 5vh;
  width: 15vw;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.backToHomeDiv:hover {
  background-color: rgb(141, 79, 202);
  box-shadow: 5px 5px 5px;
}

.pageTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}

.myContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameAndEmail {
  width: 20vw;
}

.label {
  font-size: 1.2em;
}

.submitButton {
  font-size: 1.2em;
  background-color: rebeccapurple;
  color: gold;
  border: 1px solid black;
}

.submitButton:hover {
  background-color: rgb(141, 79, 202);
  box-shadow: 5px 5px 5px;
}